Para realizar la optimización debemos tener instaladas las librerías que aparecen abajo
en el siguiente segmento de código. Si tienes python instalado con la distribución de anaconda
entonces solo tendrás que installar la librería "Pandas DataReader", para esto puedes ir a la 
terminal y escribir: pip install pandas_datareader

In [6]:
import pandas as pd #to manipulaze databframes
import numpy as np # to generate random weigths
from pandas_datareader import DataReader as wb # to get stocks data from yahoo finance
from scipy.optimize import minimize # to optimize sharpe-ratio
import matplotlib.pyplot as plt # to plot our data
import seaborn as sns # style of our plots

Primer paso es obtener la información desde Yahoo Finance, podríamos descargar uno a uno los datos
de las acciones, luego en excel sincronizar las fechas y cargar el archivo modificado de nuevo a
python. Sin embargo, el proceso de obtener y sincronizar los precios de las acciones se puede hacer
de una forma mucho más facil utilizando la librería "Pandas DataReader", específicamente
la función "DataReader" que cargamos inicialmente commo "wb". Con estos obtendremos los precios

In [3]:
# Define our stocks in the portfolio
tickers = ['AAPL', 'FB', 'AMZN', 'MSFT']
# Get stock prices in Yahoo Finance
start = '2019-1-1'
end = '2021-1-1'
df = wb(tickers,'yahoo', start, end)['Adj Close']
df

Symbols           AAPL          FB         AMZN        MSFT
Date
2019-01-02   38.382229  135.679993  1539.130005   97.961319
2019-01-03   34.559078  131.740005  1500.280029   94.357529
2019-01-04   36.034370  137.949997  1575.390015   98.746010
2019-01-07   35.954170  138.050003  1629.510010   98.871956
2019-01-08   36.639565  142.529999  1656.579956   99.588829
...                ...         ...          ...         ...
2020-12-24  131.352829  267.399994  3172.689941  221.302490
2020-12-28  136.050766  277.000000  3283.959961  223.498138
2020-12-29  134.239273  276.779999  3322.000000  222.693390
2020-12-30  133.094650  271.869995  3285.850098  220.239456
2020-12-31  132.069473  273.160004  3256.929932  220.974640

[505 rows x 4 columns]

El el código anterior creamos una lista con los tickers de las acciones de Apple, Facebook, Amazon y Microsoft,
y la guardamos en una variable llamada "tickers". Por otro lado creamos dos variables llamadas "start" y "end"
donde colocamos las fechas de inicio y termino respectivamente de entre las cuales queremos la información de 
los precios de las acciones.

Una vez establecidos los inputs necesarios, creamos una variable llamada "df" la igualmos a la  función DataReader
abrebiada como "wb" y le pasamos los imputs, primero se ponen los tickers, luego escribimos 'yahho' (en minúscula)
y luego las fechas de inicio y termino, Es importante hacerlo en este orden. Esta funcicón nos devuelve un data frame
de pandas donde en las columnas podemos ver el ticker de cada acción y en el indez las fechas de cada día, dentro del
data frame tenemos los precios diarios

In [5]:
# Calculate continuos returns
df = np.log(df/df.shift(1)).dropna()

Symbols         AAPL        FB      AMZN      MSFT
Date
2019-01-09 -0.114579 -0.990856 -2.263672  0.675675
2019-01-18  0.036553  0.819898 -1.156706  0.753868
2019-01-29  0.113877  0.772489  0.321138  0.043765
2019-02-05 -0.501370 -0.633186  1.271466 -0.714286
2019-02-25 -0.425205  0.374997 -2.134431 -0.932591
...              ...       ...       ...       ...
2020-11-05 -0.137636 -1.159075 -0.911763 -0.406259
2020-11-10 -1.901100 -0.799699 -0.389352  0.354644
2020-11-16  3.030396  0.065169 -2.111790 -0.400298
2020-11-23  1.008109 -0.928202 -2.856083 -1.975525
2020-12-22  0.823441  0.473885 -2.590040 -1.098251

[71 rows x 4 columns]

Posteriormenta calculamos los retornos continuos de cada acción, para esto calculamos ell logarítmo
natural de la división del precio de cada día con el precio del día anterior. Para esto nos utilizamos
la función de numpy "log" que nos permite obtener el logaaritmo natural de lo que coloquemos dentro, en
este caso le pasamos el data frame (df) dividido por si mismo pero con la función "shift(1), con esto estamos
dividiendo en todo el data frame, cada fila con la fila anterior